## This Notebook is a guide for me and for anyone seeing this to work with the pandas library ðŸ‘€

#### To convert into a pandas dataframe:

In [3]:
import pandas as pd
df = pd.read_csv('fixtures.csv')
# for txt files that are tab separated for example, we can do the following:

# df2 = pd.read_csv('fixtures.txt', delimeter='\t') 

# prints the first 5 rows of the table
print(df.head(5))

# prints bottom 5 rows of the table
print(df.tail(5))

   Gameweek                Home Team  Score          Away Team
0        20  Wolverhampton Wanderers  0 - 3  Nottingham Forest
1        20             Liverpool FC  2 - 2  Manchester United
2        20                   Fulham  2 - 2       Ipswich Town
3        20   Brighton & Hove Albion  1 - 1            Arsenal
4        20              Southampton  0 - 5          Brentford
     Gameweek          Home Team  Score                Away Team
195         1   Newcastle United  1 - 0              Southampton
196         1            Everton  0 - 3   Brighton & Hove Albion
197         1            Arsenal  2 - 0  Wolverhampton Wanderers
198         1       Ipswich Town  0 - 2             Liverpool FC
199         1  Manchester United  1 - 0                   Fulham

#### To access/print the columns:

In [6]:
print(df.columns)
# the first column for example can be accessed as following
print(df.columns[0])

Index(['Gameweek', 'Home Team', 'Score', 'Away Team'], dtype='object')
Gameweek

#### To print each entry in a column:

In [15]:
print(df['Home Team'])
# Here for example, we can see each premier league that hosted a home team
# We can use this information to put them into a set an example and then we would have all the prem teams in a list in a simple wayðŸ’¡
print('\n\n')
print(df[['Home Team','Score']][0:20])

0      Wolverhampton Wanderers
1                 Liverpool FC
2                       Fulham
3       Brighton & Hove Albion
4                  Southampton
                ...
195           Newcastle United
196                    Everton
197                    Arsenal
198               Ipswich Town
199          Manchester United
Name: Home Team, Length: 200, dtype: object



                  Home Team  Score
0   Wolverhampton Wanderers  0 - 3
1              Liverpool FC  2 - 2
2                    Fulham  2 - 2
3    Brighton & Hove Albion  1 - 1
4               Southampton  0 - 5
5           Manchester City  4 - 1
6            Crystal Palace  1 - 1
7           AFC Bournemouth  1 - 0
8               Aston Villa  2 - 1
9         Tottenham Hotspur  1 - 2
10                Brentford  1 - 3
11        Manchester United  0 - 2
12             Ipswich Town  2 - 0
13              Aston Villa  2 - 2
14          West Ham United  0 - 5
15        Tottenham Hotspur  2 - 2
16                   Fulham  2 - 2
17                  Everton  0 - 2
18           Crystal Palace  2 - 1
19           Leicester City  0 - 2

#### To print entire row(s):

In [17]:
df.iloc[1:4]

   Gameweek               Home Team  Score          Away Team
1        20            Liverpool FC  2 - 2  Manchester United
2        20                  Fulham  2 - 2       Ipswich Town
3        20  Brighton & Hove Albion  1 - 1            Arsenal

In [33]:
print(df.iloc[1,1]) # Here we have to give it the entire position so row 1 column 1. Row 1 column 2 would give us 2-2 as an example
print(df.iloc[1,2]) # 2-2 is given

Liverpool FC
2 - 2

#### Iterare through entries:

In [34]:
for index,row in df.iterrows():
    print(index,row['Home Team'])

0 Wolverhampton Wanderers
1 Liverpool FC
2 Fulham
3 Brighton & Hove Albion
4 Southampton
5 Manchester City
6 Crystal Palace
7 AFC Bournemouth
8 Aston Villa
9 Tottenham Hotspur
10 Brentford
11 Manchester United
12 Ipswich Town
13 Aston Villa
14 West Ham United
15 Tottenham Hotspur
16 Fulham
17 Everton
18 Crystal Palace
19 Leicester City
20 Arsenal
21 Brighton & Hove Albion
22 Liverpool FC
23 Wolverhampton Wanderers
24 AFC Bournemouth
25 Newcastle United
26 Nottingham Forest
27 Southampton
28 Chelsea
29 Manchester City
30 Tottenham Hotspur
31 Manchester United
32 Leicester City
33 Fulham
34 Everton
35 Crystal Palace
36 West Ham United
37 Ipswich Town
38 Brentford
39 Aston Villa
40 AFC Bournemouth
41 Southampton
42 Chelsea
43 Manchester City
44 Brighton & Hove Albion
45 Nottingham Forest
46 Wolverhampton Wanderers
47 Newcastle United
48 Liverpool FC
49 Arsenal
50 West Ham United
51 Tottenham Hotspur
52 Leicester City
53 Ipswich Town
54 Fulham
55 Manchester United
56 Crystal Palace
57 Brentford
58 Aston Villa
59 Everton
60 AFC Bournemouth
61 Fulham
62 Aston Villa
63 Arsenal
64 Southampton
65 Newcastle United
66 Manchester City
67 Everton
68 Leicester City
69 Ipswich Town
70 Liverpool FC
71 Tottenham Hotspur
72 Manchester United
73 Chelsea
74 West Ham United
75 Wolverhampton Wanderers
76 Nottingham Forest
77 Crystal Palace
78 Brentford
79 Brighton & Hove Albion
80 Newcastle United
81 Ipswich Town
82 Southampton
83 Manchester City
84 Fulham
85 Everton
86 AFC Bournemouth
87 Aston Villa
88 Arsenal
89 Leicester City
90 Chelsea
91 Tottenham Hotspur
92 Nottingham Forest
93 Manchester United
94 Liverpool FC
95 Brighton & Hove Albion
96 Wolverhampton Wanderers
97 West Ham United
98 Crystal Palace
99 Brentford
100 Fulham
101 Manchester United
102 Tottenham Hotspur
103 Wolverhampton Wanderers
104 Southampton
105 Nottingham Forest
106 Liverpool FC
107 Ipswich Town
108 AFC Bournemouth
109 Newcastle United
110 Arsenal
111 West Ham United
112 Crystal Palace
113 Chelsea
114 Everton
115 Manchester City
116 Brighton & Hove Albion
117 Brentford
118 Aston Villa
119 Leicester City
120 Nottingham Forest
121 Liverpool FC
122 Wolverhampton Wanderers
123 AFC Bournemouth
124 Ipswich Town
125 Southampton
126 Newcastle United
127 Manchester United
128 Fulham
129 Tottenham Hotspur
130 Brighton & Hove Albion
131 Chelsea
132 Aston Villa
133 Everton
134 West Ham United
135 Manchester City
136 Leicester City
137 Brentford
138 Arsenal
139 Crystal Palace
140 AFC Bournemouth
141 Manchester United
142 Ipswich Town
143 Wolverhampton Wanderers
144 Nottingham Forest
145 Everton
146 Chelsea
147 Brentford
148 Arsenal
149 Newcastle United
150 Manchester City
151 Brighton & Hove Albion
152 Crystal Palace
153 Tottenham Hotspur
154 Southampton
155 Liverpool FC
156 Leicester City
157 Fulham
158 Aston Villa
159 West Ham United
160 Wolverhampton Wanderers
161 Tottenham Hotspur
162 AFC Bournemouth
163 Aston Villa
164 Manchester City
165 Liverpool FC
166 Fulham
167 Crystal Palace
168 Brighton & Hove Albion
169 Southampton
170 Manchester United
171 Newcastle United
172 Chelsea
173 West Ham United
174 Nottingham Forest
175 Leicester City
176 Ipswich Town
177 Everton
178 Brentford
179 Arsenal
180 Liverpool FC
181 Wolverhampton Wanderers
182 AFC Bournemouth
183 Aston Villa
184 Tottenham Hotspur
185 Southampton
186 Manchester City
187 Fulham
188 Crystal Palace
189 Brighton & Hove Albion
190 Leicester City
191 Chelsea
192 Brentford
193 West Ham United
194 Nottingham Forest
195 Newcastle United
196 Everton
197 Arsenal
198 Ipswich Town
199 Manchester United

### How about printing all Liverpool games?

In [42]:
df.loc[(df['Home Team'] == 'Liverpool FC') | (df['Away Team'] == "Liverpool FC")]
# Probably the most important part of this guide

     Gameweek                Home Team  Score               Away Team
1          20             Liverpool FC  2 - 2       Manchester United
14         19          West Ham United  0 - 5            Liverpool FC
22         18             Liverpool FC  3 - 1          Leicester City
30         17        Tottenham Hotspur  3 - 6            Liverpool FC
48         16             Liverpool FC  2 - 2                  Fulham
59         15                  Everton     -             Liverpool FC
65         14         Newcastle United  3 - 3            Liverpool FC
70         13             Liverpool FC  2 - 0         Manchester City
82         12              Southampton  2 - 3            Liverpool FC
94         11             Liverpool FC  2 - 0             Aston Villa
106        10             Liverpool FC  2 - 1  Brighton & Hove Albion
110         9                  Arsenal  2 - 2            Liverpool FC
121         8             Liverpool FC  2 - 1                 Chelsea
139         7           Crystal Palace  0 - 1            Liverpool FC
143         6  Wolverhampton Wanderers  1 - 2            Liverpool FC
155         5             Liverpool FC  3 - 0         AFC Bournemouth
165         4             Liverpool FC  0 - 1       Nottingham Forest
170         3        Manchester United  0 - 3            Liverpool FC
180         2             Liverpool FC  2 - 0               Brentford
198         1             Ipswich Town  0 - 2            Liverpool FC

In [52]:
df_liverpool = df.loc[(df['Home Team'] == 'Liverpool FC') | (df['Away Team'] == "Liverpool FC")]
df_liverpool

     Gameweek                Home Team  Score               Away Team
1          20             Liverpool FC  2 - 2       Manchester United
14         19          West Ham United  0 - 5            Liverpool FC
22         18             Liverpool FC  3 - 1          Leicester City
30         17        Tottenham Hotspur  3 - 6            Liverpool FC
48         16             Liverpool FC  2 - 2                  Fulham
59         15                  Everton     -             Liverpool FC
65         14         Newcastle United  3 - 3            Liverpool FC
70         13             Liverpool FC  2 - 0         Manchester City
82         12              Southampton  2 - 3            Liverpool FC
94         11             Liverpool FC  2 - 0             Aston Villa
106        10             Liverpool FC  2 - 1  Brighton & Hove Albion
110         9                  Arsenal  2 - 2            Liverpool FC
121         8             Liverpool FC  2 - 1                 Chelsea
139         7           Crystal Palace  0 - 1            Liverpool FC
143         6  Wolverhampton Wanderers  1 - 2            Liverpool FC
155         5             Liverpool FC  3 - 0         AFC Bournemouth
165         4             Liverpool FC  0 - 1       Nottingham Forest
170         3        Manchester United  0 - 3            Liverpool FC
180         2             Liverpool FC  2 - 0               Brentford
198         1             Ipswich Town  0 - 2            Liverpool FC

### Sorting

In [50]:
df.sort_values(['Score','Away Team'], ascending=[0,1])

     Gameweek       Home Team  Score                Away Team
137         7       Brentford  5 - 3  Wolverhampton Wanderers
117         9       Brentford  4 - 3             Ipswich Town
146         6         Chelsea  4 - 2   Brighton & Hove Albion
148         6         Arsenal  4 - 2           Leicester City
57         15       Brentford  4 - 2         Newcastle United
..        ...             ...    ...                      ...
132         7     Aston Villa  0 - 0        Manchester United
152         5  Crystal Palace  0 - 0        Manchester United
133         7         Everton  0 - 0         Newcastle United
33         17          Fulham  0 - 0              Southampton
59         15         Everton     -              Liverpool FC

[200 rows x 4 columns]

In [54]:
df_liverpool.sort_values(['Score','Away Team'])

     Gameweek                Home Team  Score               Away Team
59         15                  Everton     -             Liverpool FC
139         7           Crystal Palace  0 - 1            Liverpool FC
165         4             Liverpool FC  0 - 1       Nottingham Forest
198         1             Ipswich Town  0 - 2            Liverpool FC
170         3        Manchester United  0 - 3            Liverpool FC
14         19          West Ham United  0 - 5            Liverpool FC
143         6  Wolverhampton Wanderers  1 - 2            Liverpool FC
94         11             Liverpool FC  2 - 0             Aston Villa
180         2             Liverpool FC  2 - 0               Brentford
70         13             Liverpool FC  2 - 0         Manchester City
106        10             Liverpool FC  2 - 1  Brighton & Hove Albion
121         8             Liverpool FC  2 - 1                 Chelsea
48         16             Liverpool FC  2 - 2                  Fulham
110         9                  Arsenal  2 - 2            Liverpool FC
1          20             Liverpool FC  2 - 2       Manchester United
82         12              Southampton  2 - 3            Liverpool FC
155         5             Liverpool FC  3 - 0         AFC Bournemouth
22         18             Liverpool FC  3 - 1          Leicester City
65         14         Newcastle United  3 - 3            Liverpool FC
30         17        Tottenham Hotspur  3 - 6            Liverpool FC

### Adding a column, row, or an entry in general

In [75]:
# df_liverpool['Goals Scored'] = df_liverpool['Home Team' == 'Liverpool FC'] ?  df_liverpool['Score'][0] ? df_liverpool['Score'][4]
# Coming from a C++ Background this is what I want to do, this is how it is done in pandas:
df_liverpool.loc[:, 'Goals Scored'] = df_liverpool.apply( lambda row: row['Score'].split(" - ")[0] if row['Home Team'] == 'Liverpool FC' else row['Score'].split(" - ")[1]
                                                  ,axis=1)
print(df_liverpool.head(5))

    Gameweek          Home Team  Score          Away Team Goals Scored
1         20       Liverpool FC  2 - 2  Manchester United            2
14        19    West Ham United  0 - 5       Liverpool FC            5
22        18       Liverpool FC  3 - 1     Leicester City            3
30        17  Tottenham Hotspur  3 - 6       Liverpool FC            6
48        16       Liverpool FC  2 - 2             Fulham            2

1. **`df_liverpool.loc[:, 'Goals Scored']`**:
   - Selects all rows and assigns values to the `'Goals Scored'` column.

2. **`df_liverpool.apply()`**:
   - Applies a function along the DataFrame rows (since `axis=1`), which helped us perform the xx ? yy : vv in python

3. **`lambda row: ...`**:
   - A lambda function that processes each row to check if Liverpool is the home team and assigns the appropriate score.

4. **`row['Score'].split(" - ")`**:
   - Splits the score string (e.g., `"2 - 1"`) into a list `['2', '1']` (making it easier to access and modify)

5. **`axis=1`**:
   - Ensures the function is applied row-wise, if we wanted it to be column-wise we make axis=0